<a href="https://colab.research.google.com/github/johancordoba78/Blog_2/blob/main/Fundamentos_de_Python_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos - Dispositiva 6

Todo en Python es un **objeto** y cada objeto en Python tiene un **tipo**. Algunos de los tipos básicos incluyen:

- **`int`** (entero; un número entero sin lugar decimal)
  - `10`
  - `-3`
- **`float`** (flotante; un número que tiene un lugar decimal)
  - `7.41`
  - `-0.006`
- **`str`** (cadena; una secuencia de caracteres encerrada entre comillas simples, comillas dobles o comillas triples)
  - `'esto es una cadena usando comillas simples'`
  - `"esto es una cadena usando comillas dobles"`
  - `'''esto es una cadena con comillas triples usando comillas simples'''`
  - `"""esto es una cadena con comillas triples usando comillas dobles"""`
- **`bool`** (booleano; un valor binario que es verdadero o falso)
  - `True`
  - `False`
- **`NoneType`** (un tipo especial que representa la ausencia de un valor)
  - `None`

En Python, una **variable** es un nombre que especificas en tu código que se asigna a un **objeto**, instancia de objeto o valor particular.

Al definir variables, podemos referirnos a cosas por nombres que tengan sentido para nosotros. Los nombres de las variables solo pueden contener letras, guiones bajos (`_`) o números (sin espacios, guiones u otros caracteres). Los nombres de las variables deben comenzar con una letra o guion bajo.

In [ ]:
#Puedes hacer comentarios con el simbolo '#'

entero = 21

nombre = 'Mariana'

apellido = "Ramirez"

string1 = nombre + " " + apellido + " tiene " + str(entero) + " años."

print(string1)

Mariana Ramirez tiene 21 años.

#**Estructuras** básicas en Python - Diapositiva 7

Nota: Los objetos **mutables** pueden ser modificados después de su creación y los objetos **inmutables** no pueden.

Los contenedores son objetos que pueden usarse para agrupar otros objetos juntos. Los tipos básicos de contenedores incluyen:

- **`str`** (cadena: inmutable; indexada por enteros; los elementos se almacenan en el orden en que se agregaron)
- **`list`** (lista: mutable; indexada por enteros; los elementos se almacenan en el orden en que se agregaron)
  - `[3, 5, 6, 3, 'perro', 'gato', False]`
- **`tuple`** (tupla: inmutable; indexada por enteros; los elementos se almacenan en el orden en que se agregaron)
  - `(3, 5, 6, 3, 'perro', 'gato', False)`
- **`set`** (conjunto: mutable; no indexado en absoluto; los elementos NO se almacenan en el orden en que se agregaron; solo puede contener objetos inmutables; NO contiene objetos duplicados)
  - `{3, 5, 6, 3, 'perro', 'gato', False}`
- **`dict`** (diccionario: mutable; los pares clave-valor se indexan por claves inmutables; los elementos NO se almacenan en el orden en que se agregaron)
  - `{'nombre': 'Jane', 'edad': 23, 'comidas_favoritas': ['pizza', 'fruta', 'pescado']}`

Al definir listas, tuplas o conjuntos, utiliza comas (,) para separar los elementos individuales. Al definir diccionarios, utiliza dos puntos (:) para separar las claves de los valores y comas (,) para separar los pares clave-valor.

Las cadenas, listas y tuplas son todos **tipos de secuencia** que pueden utilizar los operadores `+`, `*`, `+=`, y `*=`.

In [ ]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [ ]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [ ]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [ ]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [ ]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

## Acceso a datos en contenedores

Para cadenas de texto, listas, tuplas y diccionarios, podemos usar la **notación de subíndices** (corchetes cuadrados) para acceder a datos en un índice.

- Las cadenas de texto, listas y tuplas están indexadas por enteros, **comenzando en 0** para el primer elemento.
  - Estos tipos de secuencia también admiten el acceso a un rango de elementos, conocido como **rebanado**.
  - Usa el **indexado negativo** para comenzar desde el final de la secuencia.
- Los diccionarios están indexados por sus claves.

> Nota: los conjuntos no están indexados, por lo que no podemos usar la notación de subíndices para acceder a elementos de datos.

In [ ]:
# Access the first item in a sequence
list1[0]

3

In [ ]:
# Access the last item in a sequence
tuple1[-1]

False

In [ ]:
# Access a range of items in a sequence
tuple1[:3]

(3, 5, 6)

In [ ]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False]

In [ ]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [ ]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

#Basic operators - Slide 8

En Python, existen diferentes tipos de **operadores** (símbolos especiales) que operan sobre diferentes valores. Algunos de los operadores básicos incluyen:

- operadores aritméticos
  - **`+`** (suma)
  - **`-`** (resta)
  - **`*`** (multiplicación)
  - **`/`** (división)
  - **`//`** (división entera)
  - **`%`** (módulo)
  - **`**`** (exponente)
- operadores de asignación
  - **`=`** (asignar un valor)
  - **`+=`** (sumar y reasignar; incrementar)
  - **`-=`** (restar y reasignar; decrementar)
  - **`*=`** (multiplicar y reasignar)
- operadores de comparación (devuelven `True` o `False`)
  - **`==`** (igual a)
  - **`!=`** (no igual a)
  - **`<`** (menor que)
  - **`<=`** (menor o igual que)
  - **`>`** (mayor que)
  - **`>=`** (mayor o igual que)
- Operadores lógicos
  - **`and`** (AND lógico)
  - **`or`** (OR lógico)
  - **`not`** (NOT lógico)

Cuando se utilizan múltiples operadores en una única expresión, la **precedencia de operadores** determina qué partes de la expresión se evalúan en qué orden. Los operadores con mayor precedencia se evalúan primero (como PEMDAS en matemáticas). Los operadores con la misma precedencia se evalúan de izquierda a derecha.

- `()` paréntesis, para agrupar
- `**` exponente
- `*`, `/` multiplicación y división
- `+`, `-` suma y resta
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparaciones

> Ver https://docs.python.org/3/reference/expressions.html#operator-precedence

##Operadores aritméticos

In [ ]:
# Assigning some numbers to different variables

num1 = 10
num2 = -32
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

print(num1)

10

In [ ]:
# Addition

#10 + -32
num1 + num2

-22

In [ ]:
# Subtraction

# -32 - 7.41
num2 - num3

-39.41

In [ ]:
# Multiplication

#7.41 * -0.6
num3 * num4

-4.446

In [ ]:
# Division
# 10 / 3
num1 / num6

3.3333333333333335

In [ ]:
# Floor Division
# 10 // 3
num1 // num6

3

In [ ]:
# Exponent
# 7 ^ 3
num5 ** num6

343

In [ ]:
# Module
# 10 % 3
num1 % num6

1

##Operadores de asignación

In [ ]:
num1 = 8

num1

8

In [ ]:
# Increment existing variable
num1 += 4
num1

12

In [ ]:
# Decrement existing variable
num1 -= 2
num1

10

In [ ]:
# Multiply & re-assign
num1 *= 5
num1

50

In [ ]:
# Assign the value of an expression to a variable
# 10 + -32 * 7.41
num8 = num1 + num2 * num3
num8

-187.12

##Operadores comparativos

In [ ]:
# Are these two expressions equal to each other?
#10 + -32 == -22
num1 = 10
num2 = -32
num5 = -21

num1 + num2 != num5

True

In [ ]:
# Are these two expressions not equal to each other?
num2 != num5

True

In [ ]:
# Is the first expression less than the second expression?
num5 = 1
num6 = 3

num5 < num6

True

In [ ]:
# Is this expression True?
5 > 3 > 1

True

In [ ]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

##Operadoress lógicos

In [ ]:
bool_true = True
bool_false = False

In [ ]:
#And
True and True

True

In [ ]:
#And
bool_true and bool_false

False

In [ ]:
bool_false or bool_true

True

In [ ]:
bool_false or False

False

In [ ]:
not(True)

False

In [ ]:
not(False)

True

##Operaciones con cadenas de texto

In [ ]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

In [ ]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [ ]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [ ]:
# Notice that the string was not modified
simple_string1

'an example'

In [ ]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [ ]:
# This string wasn't modified either
simple_string2

'oranges '

In [ ]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [ ]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [ ]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [ ]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [ ]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

##Operaciones con estructuras de datos

In [ ]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [ ]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [ ]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

#Estructuras de control condicional - Diapositiva 10

Python provides 3 conditional statements, which can be used to determine the program flow:

- if statement: This statement allows you to execute a block of code if a specified condition is true. If the condition is false, the block of code is skipped.

- if-else statement: With this statement, you can execute one block of code if a condition is true, and another block of code if the condition is false. It provides a way to handle two possible outcomes based on a condition.

- if-elif-else statement: This statement is useful when you have multiple conditions to check. It allows you to test multiple conditions and execute different blocks of code based on the first condition that evaluates to true. If none of the conditions are true, an optional else block can be executed as a default action.

In [ ]:
#If structure

day = 25
month = 'December'
if (day == 25) and (month  == 'December'):
    print('Merry Christmas!')

Merry Christmas!

In [ ]:
#Elif structure
day = 13
month = 'November'
if (month   == 'November'):
   if not(day != 13):
        print('Happy Birthday')
   elif day != 13:
        print('It’s my birthday month')

Happy Birthday

In [ ]:
#Else Structure
day = 8
month = 'October'
if (month  == 'December'):
    if (day == 24) or (day  == 31):
        print('Today is a special day')
else:
     print('Nothing special')

Nothing special

#Estructuras de control de bucle - Diapositiva 11

Las sentencias de iteración o bucles te permiten ejecutar un bloque de código repetidamente basado en ciertas condiciones o sobre una secuencia de elementos.

- Bucle for:
  - El bucle for itera sobre una secuencia de elementos uno por uno.
  - Se utiliza comúnmente cuando conoces el número de iteraciones o cuando deseas iterar sobre elementos de una secuencia como listas, tuplas, cadenas o rangos.

- Bucle while:
  - El bucle while repite un bloque de código mientras una condición especificada se evalúa como verdadera.
  - Es útil cuando no conoces el número de iteraciones de antemano o cuando necesitas repetir una acción hasta que se cumpla una cierta condición.

In [ ]:
#For Example 1

sum = 0

for i in range (1, 25 + 1):
    sum += 2 * i * (i - 3)
print(sum)

9100

In [ ]:
#For Example 2
Colors = ['Rojo','Azul','Verde','Blanco']

for color in Colors:
    print(color)

Rojo
Azul
Verde
Blanco

In [ ]:
#While example 1
sum = 0
i = 0
while (i <= 25):
    sum += 2 * i * (i - 3)
    i += 1
print(sum)

9100

In [ ]:
#While example 2
i = 0
levels = 5
while (i <= levels ):
    print('*' *  i)
    i += 1

*
**
***
****
*****

#Actividad - Diapositiva 13

Usted recibe dos listas que contienen los nombres de cinco grupos de animales distintos junto con sus respectivos conteos. El objetivo es crear un programa que identifique cuál es el grupo con la mayor y la menor cantidad de individuos utilizando estructuras de control.
- Caninos: 564
- Felinos: 334
- Aves: 899
- Reptiles: 900
- Roedores: 321

In [ ]:
# Plantee una solución aqui:

#Funciones - Diapositiva 14

Una función es un bloque de código que realiza una tarea específica y puede ser ejecutado múltiples veces, Se definen con la palabra def
y tienen la siguiente forma:
*def  nombre(param1, param2, param3…):*

In [ ]:
#Ejmplo Básico de suma
def suma(a,b):
    resultado = a + b
    return resultado

suma(13,8)

21

In [ ]:
#Ejemplo de suma con 3 parametros
def suma(a,b,c):
    return a + b + c

suma(13,8,21)

42

In [ ]:
#Función para crear una matriz
def create_matrix(rows,columns):
    matrix = []
    n = 0;
    for j in range(rows):
        row = []
        for i in range(columns):
            row.append(n)
            n += 1
        matrix.append(row)
    return matrix

matriz = create_matrix(8,8)

# Funciones y métodos integrados de Python - Diapositiva 15

Una **función** es un objeto de Python que puedes "llamar" para **realizar una acción** o calcular y **devolver otro objeto**. Llamas a una función colocando paréntesis a la derecha del nombre de la función. Algunas funciones te permiten pasar **argumentos** dentro de los paréntesis (separando múltiples argumentos con una coma). Dentro de la función, estos argumentos se tratan como variables.

Python tiene varias funciones integradas útiles para ayudarte a trabajar con diferentes objetos y/o tu entorno. Aquí tienes una pequeña muestra de ellas:

- **`type(obj)`** para determinar el tipo de un objeto
- **`len(container)`** para determinar cuántos elementos hay en un contenedor
- **`callable(obj)`** para determinar si un objeto es callable
- **`sorted(container)`** para devolver una nueva lista de un contenedor, con los elementos ordenados
- **`sum(container)`** para calcular la suma de un contenedor de números
- **`min(container)`** para determinar el elemento más pequeño en un contenedor
- **`max(container)`** para determinar el elemento más grande en un contenedor
- **`abs(number)`** para determinar el valor absoluto de un número
- **`repr(obj)`** para devolver una representación en cadena de un objeto

> Lista completa de funciones integradas: https://docs.python.org/3/library/functions.html

Python tambien provee varios métodos para trabajar con listas, un método es una función asociada a un objeto específico (o a una clase) que actúa sobre dicho objeto.

Algunuos de los más utilizados son:

- **`append(element)`**: Agrega un elemento al final de la lista. Modifica la lista original.

- **`insert(index, element)`**: Inserta un elemento en la posición especificada. Los elementos a la derecha del índice se desplazan hacia la derecha para hacer espacio para el nuevo elemento. Modifica la lista original.

- **`pop([index])`**: Elimina y devuelve el elemento en la posición especificada. Si no se especifica un índice, elimina y devuelve el último elemento de la lista. Modifica la lista original.

- **`clear()`**: Elimina todos los elementos de la lista, dejándola vacía. Modifica la lista original.

- **`sort(key=None, reverse=False)`**: Ordena los elementos de la lista en su lugar. Puede tomar dos argumentos opcionales:
  - `key`: Una función que se utilizará para personalizar el ordenamiento (por ejemplo, `str.lower` para ordenar cadenas en minúsculas).
  - `reverse`: Un booleano que indica si se debe ordenar en orden descendente o no (por defecto es `False`, es decir, orden ascendente). Modifica la lista original.

Es importante tener en cuenta que `append()`, `insert()`, `pop()`, `clear()` y `sort()` modifican la lista original.

In [ ]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [ ]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [ ]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [ ]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [ ]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [ ]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [ ]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [ ]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [ ]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [ ]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [ ]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [ ]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [ ]:
mi_lista = [1, 2, 3]

len(mi_lista)

3

In [ ]:
students = ["Andrea", "Karol", "David", "Sara", "Juan"]

In [ ]:
#Append
students.append("Edgar")
print(students)

['Edgar']

In [ ]:
#Insert
students.insert(1, "Heydi")
print(students)

['Andrea', 'Heydi', 'Karol', 'David', 'Sara', 'Juan', 'Edgar']

In [ ]:
#sort
students.sort()
print(students)

students.sort(reverse=True)
print(students)

['Andrea', 'David', 'Edgar', 'Heydi', 'Juan', 'Karol', 'Sara']
['Sara', 'Karol', 'Juan', 'Heydi', 'Edgar', 'David', 'Andrea']

In [ ]:
#copy
students1 = students.copy()
print(students1)

['Sara', 'Karol', 'Juan', 'Heydi', 'Edgar', 'David', 'Andrea']

In [ ]:
#Pop
students = ["Andrea", "Karol", "David", "Sara", "Juan"]
deleted_student = students.pop()
print(students)
print(deleted_student)
print(students)

['Andrea', 'Karol', 'David', 'Sara']
Juan
['Andrea', 'Karol', 'David', 'Sara']

In [ ]:
#clear
students.clear()
print(students)

[]

# Algunos métodos en objetos de cadena - Diapositiva 16

- **`.capitalize()`** para devolver una versión capitalizada de la cadena (solo la primera letra en mayúscula)
- **`.upper()`** para devolver una versión en mayúsculas de la cadena (todas las letras en mayúsculas)
- **`.lower()`** para devolver una versión en minúsculas de la cadena (todas las letras en minúsculas)
- **`.count(subcadena)`** para devolver el número de ocurrencias de la subcadena en la cadena
- **`.startswith(subcadena)`** para determinar si la cadena comienza con la subcadena
- **`.endswith(subcadena)`** para determinar si la cadena termina con la subcadena
- **`.replace(viejo, nuevo)`** para devolver una copia de la cadena con las ocurrencias del "viejo" reemplazadas por "nuevo"

In [ ]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [ ]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [ ]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [ ]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [ ]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [ ]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [ ]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [ ]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [ ]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [ ]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [ ]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [ ]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [ ]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [ ]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

#Material obtenido de https://gist.github.com/kenjyco/69eeb503125035f21a9d